[submodule "Externals/Delphi.Mock"]
	path = Externals/Delphi.Mock
	url = ../Delphi.Mock.git
[submodule "Externals/DUnitX"]
	path = Externals/DUnitX
	url = ../../VSoftTechnologies/DUnitX.git
[submodule "Externals/FastMM5"]
	path = Externals/FastMM5
	url = ../../pleriche/FastMM5.git
[submodule "Package/Externals/DUnitX"]
	path = Package/Externals/DUnitX
	url = ../../VSoftTechnologies/DUnitX.git
